<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Masterblog</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Blog Posts</h1>
    <a href="/add">Add a New Blog Post</a>
    <br><br>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p><strong>Author:</strong> {{ post.author }}</p>
            <p>{{ post.content }}</p>
                        <form action="/update/{{ post.id }}" method="POST" style="display:inline">
                <a href="/update/{{ post.id }}">UPDATE
                </a>
            </form>
            <br><br>

            <form action="/delete/{{ post.id }}" method="POST" style="display:inrow;">
            <button type="submit" >DELETE</button>
            </form>

        </div>
        <hr>
    {% endfor %}
</body>
</html>